.open-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
    background-color: royalblue;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}
.movie-card {
  height: 100%;
}

.movie-card img {
  object-fit: cover; // Ensures the image covers the entire container
  height: 200px; // Set a fixed height for uniformity (adjust as needed)
  width: 100%;
}

.heart {
  color: red;
  size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  margin-right: 2px;
}

.heart.filled {
  background-color: red;
  -webkit-text-fill-color: transparent;
}