/* Light mode styles */
body.light {
  background-color: rgb(211, 211, 211);
  color: rgb(110, 110, 110); /* Dark text in light mode */
}

/* Dark mode styles */
body.dark {
  background-color: black;
  color: rgb(129, 129, 129); /* Light text in dark mode */
}

.navbar-light-mode-toggle-icon {
  color: #757575; // Replace with the darker color you want in light mode
}
.navbar-light-mode-toggle-icon {
  background-color: rgb(161, 161, 161); /* Set the hamburger icon color in dark mode */
}

/* Other styles */
.custom-navbar-brand:hover {
  color: rgb(187, 187, 187) !important; /* Change the color when hovered */
  transition: color 0.5s ease; /* Smooth transition */
}

.nav-link {
  border-radius: 10px; /* Add rounded borders */
}

.nav-link:hover {
  background-color: rgb(170, 168, 168); /* Change the background color */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.custom-navbar:hover {
  color: lightgray !important; /* Change the color when hovered */
  transition: color 0.5s ease !important; /* Smooth transition */
}

.custom-navToggle:hover {
  color: rgb(127, 127, 127) !important;
  background-color: rgb(163, 163, 163) !important; /* Change the background color */
  transition: color 0.5s ease !important;
  transition: background-color 0.5s ease !important; /* Change the background color */
}

.navbar {
  background-color: #818181 !important; /* Replace with the color you want */
}

.navbar-light-mode {
  /* Light mode styles */
  background-color: #9e9e9e; /* Light background color */
  color: #000000; /* Black text color */
}

.navbar-dark-mode {
  /* Dark mode styles */
  background-color: #343a40; /* Dark background color */
  color: #aeaeae; /* White text color */
}
