// profile-view.scss
.logout-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
}
/* In your CSS file */
.delete-button {
  width: 150px;  /* Adjust as needed */
}

// @import "~bootstrap/scss/bootstrap";


// .profile-view {
//   // Add styling for the overall profile view

//   h1 {
//     // Styling for the heading
//   }

//   // Add styling for UserInfo and FavoriteMovies components
//   .user-info {
//     // Customize styles for user info section
//   }

//   .favorite-movies {
//     // Customize styles for favorite movies section
//   }

//   // Add more styles as needed
// }
