.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
}
.movie-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 400px;
}