:root {
    --card-bg: #fff;
}
:root[data-bs-theme=dark] {
    --card-bg: #2a2a2a;
}
$primary: #E50914; // Netflix red
$body-bg: #000000; // Black background
$body-color: #606060; // White text
$card-bg: var(--card-bg); // light grey for cards
$navbar-light-color: #3a0d0d; // White navbar text
$navbar-light-hover-color: #B20710; // Red hover effect
$navbar-light-active-color: #a4a4a4; // Red active effect
$navbar-light-disabled-color: #b5b5b5; // White disabled text
$navbar-light-toggler-border-color: #a5a5a5; // White border color
$navbar-light-brand-color: #E50914; // Netflix red brand color
$navbar-light-brand-hover-color: #B20710; // Red hover effect on brand


@import "~bootstrap/scss/bootstrap.scss";
