$primary: #E50914; // Netflix red
$body-bg: #000000; // Black background
$body-color: #FFFFFF; // White text
$card-bg: #141414; // Dark grey for cards
$navbar-light-color: #3a0d0d; // White navbar text
$navbar-light-hover-color: #B20710; // Red hover effect
$navbar-light-active-color: #B20710; // Red active effect
$navbar-light-disabled-color: #FFFFFF; // White disabled text
$navbar-light-toggler-border-color: #FFFFFF; // White border color
$navbar-light-brand-color: #E50914; // Netflix red brand color
$navbar-light-brand-hover-color: #B20710; // Red hover effect on brand

@import "~bootstrap/scss/bootstrap.scss";